.notification1 {
  width: 200px;
  height: 40px;
  padding: 10px;
  border-radius: 3px;
  background-color: #eee;
  color: #333;
  box-shadow: 2px 2px 5px rgba(black, 0.15);
}

.notificationEnter {
  transform: translateX(100%);
}
.notificationEnterActive {
  transform: translateX(0);
  transition: 300ms;
}
.notificationExit {
  transform: translateX(0);
}
.notificationExitActive {
  transform: translateX(100%);
  transition: 300ms;
}
